@page
@model IdentityService.Pages.Home.Index

<div class="welcome-page">
    <h1>
        <img src="~/logo-imssb-color.png" class="logo">
        <small>Bienvenido al Servidor de identidad</small>
        <small class="text-muted">(version @Model.Version)</small>
    </h1>

    <ul>
        <li>
            Identity Server publica un
            <a href="~/.well-known/openid-configuration">documento de descubrimiento</a>
            donde puedes encontrar metadatos y ligas a todos los endpoints, material clave, etc.
        </li>
        <li>
            Click <a href="~/diagnostics">aquí</a> para ver los claims de tu sesion actual.
        </li>
        <li>
            Click <a href="~/grants">aquí</a> para administrar tus stored grants.
        </li>
        <li>
            Click <a href="~/serversidesessions">aquí</a> para ver los server side sessions.
        </li>
        <li>
            Click <a href="~/ciba/all">aquí</a> para ver tus CIBA login requests pendientes.
        </li>
        <li>
            Aqui estan ligas para
            <a href="https://github.com/duendesoftware/IdentityServer">repositorio de codigo fuente</a>,
            y <a href="https://github.com/duendesoftware/samples">ejemplos listos para usar</a>.
        </li>
    </ul>

    @if(Model.License != null)
    {
        <h2>Licencia</h2>
        <dl>
            <dt>Serial Number</dt>
            <dd>@Model.License.SerialNumber</dd>
            <dt>Expiration</dt>
            <dd>@Model.License.Expiration!.Value.ToLongDateString()</dd>
        </dl>
    }
</div>
